*{
    padding: 0;
    margin: 0;
    font-family: "arial", "sans-serif";
}
 /* HEADER */
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    gap: 70px;
}

.nav{
    display: flex;
    margin: 30px;
    width: 1020px;
}

.nav h1{
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

.nav a{
    padding-right: 20px;
    font-size: 18px;
    font-weight: 100;
    color: #d3d6dd;
    text-decoration: none;
}

.headerContentWrapper{
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}

.headerMainContent{
    max-width: 510px;
    
}

.headerMainContent h1{
    color: #f9faf8;
    font-size: 46px;
}

.headerMainContent h2{
    color: #d3d6dd;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
}

.headerMainContent button{
    background-color: #3882f6;
    padding: 7px 32px;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    margin-top: 12px;
}

.headerSecondaryContent img{
    width: 460px;
}

/* MAIN CONTENT */

.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center; /* axis flipped - horizontal positioning */
}

.mainContent h1{
    padding: 55px;
    font-size: 36px;
    font-weight: 600;
    color: #1f2937;
}

.cardWrapper{
    display: flex;
    gap: 60px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    padding-bottom: 100px;
}

.card img{
    width: 150px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px #3882f6;
}

.card p{
    margin-top: 10px;
    color: #1f2937;
}


.secondaryContentWrapper{
    background-color: #e5e7eb;
}

.secondaryContent{
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
    margin: 0 auto;
    width: 830px;
}

.secondaryContent h2{
    font-size: 36px;
    color: #47515e;
    font-style: italic;
    font-weight: 100;
}

.secondaryContent p{
    align-self: flex-end;
    margin-right: 35px;
    color: #161d27;
    font-weight: 700;
    font-size: 24px;
}

